
nav ul{
    float: right;
   display: flex;
   

}
nav{
    display: flex;
    gap: 50%;
    
}

nav ul li{
   list-style-type: none;
   display: inline;
   padding: 10px 20px;
   text-transform: capitalize;
    
}
nav ul li a{
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    color: red;
}
.logo{
    width: 20px;
    height: 20px;
    padding: 10px;
}
.container1{
    display: flex;
    flex-wrap: wrap;
    gap: 20%;
    border: 40px;
}
.container1 .first h1{
    text-align: center;
    padding: 20px;
    font-size: 500%;
    font-family: Arial, Helvetica, sans-serif
}
.container1 .first h1 span{
    color: red;
}


.container1 .second img{
    border-radius: 50%;
    padding-top: 30px;
  
}
.mainfooter{
    background-color: black; 
    border-radius: 20px;
}
.mainfooter h3{
    text-align: center;
    text-transform: capitalize;
    color: red;

}
.footer {
    display: flex;
    gap: 50%;
}
.footer .footerimage img{
    padding: 30px;
    border-radius: 50%;

}
.footer .social ul li{
    list-style-type: none;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px;
    color: aliceblue;
    font-size: 100%;
}
.footer .social ul li img{
    width: 20%;
    height: 20%;
    border-radius: 50%;


}
.tr{ font-style: italic; float: left; border-radius: 8px;background-color:orange; height: 1000%; }
div input[type=submit]{width: 100px; padding: 12px 20px; 
    text-align: center; cursor: pointers;
    margin: 8px 0;display: inline-block; float: inline-start;}
.form-container input {background-color:antiquewhite; 
    border: radius 10px; box-sizing: border box;}
    .form1 .form-container{background-color: aquamarines;}
h1 p{text-align: center;
    padding: 20px;
    font-size: 500%;
    font-family: Arial, Helvetica, sans-serif;}
    .myfood img {float: right; border-radius: 4px;}